image: Visual Studio 2015 - GCE

#install:
#- ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-http-proxy.ps1'))

version: '1.2.{build}'

environment:
  gh_token:
    secure: ric7MEmy9qZvOydddBQJj74iuVbmxYF6ZpCmbfF2NOlOO+veMfzwQxjUf08htUYb

skip_tags: true

build: off

test_script:
- ps: .\upload-test.ps1

# SL- build 1
